/*------button CSS starts------------*/

.button1 {
  border: hidden;
  background-color: white;
  width: 250px;
  height: 250px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
  border: 100px hidden;
  border-radius: 10px;
}

.button1:hover {
  cursor: pointer;
  animation: bounce 1s;
  color: #fa5a32;
  border: #fa5a32 solid 1px;
  background: #fff;
  transition: 0.3s;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/*------button CSS ends------------*/
